* {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
}

.button {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.row {
  margin: 0;
}
::-webkit-scrollbar {
  display: none;
}
.card-overflow {
  min-width: 16vw;
  object-fit: cover;
  margin-left: 1vw;
  margin-right: 0.3vw;
  box-shadow: 0 10px 10px rgba(1, 1, 1, 0.9);
}
.scroll-card-deck {
  overflow-x: scroll;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-bottom: 4vh;
}
#card-title {
  transition: ease-in;
}
#card-title:hover {
  text-decoration: underline;
}
.homepage-jumbotron-1 {
  background-image: url(../src/image/Elearning.jpeg);
  background-size: cover;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.push-spaces {
  height: 50vh;
}
.home-footer {
  background-color: #bfd1fd;
}
.nav-bar-bg {
  background-color: #bfd1fd;
}
