* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
}
a {
  color: inherit;
}
.app {
  color: black;
}

.button {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
.row {
  margin: 0;
}
::-webkit-scrollbar {
  display: none;
}
.card-overflow {
  min-width: 16vw;
  margin-left: 1vw;
  margin-right: 0.3vw;
  box-shadow: 0 10px 10px rgba(1, 1, 1, 0.9);
  transition: ease-in-out;
}
/* .card-overflow :hover {
  transform: scale(0.5);
} */
#course-image {
  object-fit: cover;
}

.scroll-card-deck {
  overflow-x: scroll;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-bottom: 4vh;
}
#card-title {
  transition: ease-in;
}
#card-title:hover {
  text-decoration: underline;
}
.homepage-jumbotron-1 {
  background-image: url("https://coverfiles.alphacoders.com/367/36725.jpg");
  background-size: cover;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.push-spaces {
  height: 50vh;
}
.home-footer {
  background-color: black;
}
.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  transition-timing-function: ease-out;
  transition: all 1.5s;
}
.nav-white {
  background-color: pink;
}
